extends layout
block content
    div.content
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Export'
                    div.box-content
                        form.validate.form-horizontal(action='#', id='export-form')
                            div.span6
                                div.control-group
                                    label.control-label(for='source') Source
                                    div.controls
                                        select(id='source')
                            div.span6
                                div.control-group
                                    label.control-label(for='destination') Destination
                                    div.controls
                                        select(id='destination')
                            div.form-actions
                                input.btn.btn-primary(type='submit', value='Save', id='save-user')
                                input.btn.btn-danger(type='reset',style='margin-left:3px;')
    script.
        //seajs.use(['jquery', 'static/users/event']);