extends layout
block content
    div.content
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Add Customer'
                    div.box-content
                        form.validate.form-horizontal(action='#', id='customer-form')
                            div.control-group
                                label.control-label(for='customer-name') Name
                                div.controls
                                    input.required(type='text',name='customer-name',id='customer-name')
                            div.control-group
                                label.control-label(for='customer-tel') Tel
                                div.controls
                                    input.required(type='text',name='customer-tel',id='customer-tel')
                            div.control-group
                                label.control-label(for='customer-addr-street') Address-Street
                                div.controls
                                    input.required.span6(type='text',name='customer-addr-street',id='customer-addr-street')
                            div.control-group
                                label.control-label(for='customer-addr-city') Address-City
                                div.controls
                                    input.required(type='text',name='customer-addr-city',id='customer-addr-city')
                            div.control-group
                                label.control-label(for='customer-addr-country') Address-Country
                                div.controls
                                    input(type='text',name='customer-addr-country',id='customer-addr-country')
                            //div.control-group
                            //    label.control-label(for='sela') Select
                            //    div.controls
                            //        select(class='{required:true}', id='sela', name='sela')
                            //            option(value='Choose one') Choose one
                            //            option(value='1') Option 1
                            //            option(value='2') Option 2
                            //            option(value='3') Option 3
                            //            option(value='4') Option 4
                            div.form-actions
                                input.btn.btn-primary(type='submit', value='Save', id='save-customer')
                                input.btn.btn-danger(type='reset',style='margin-left:3px;')
block scriptContent
    script.
        (function(){
            seajs.config({
                base: '/javascripts/sea-modules/',
                alias: {
                    'jquery': 'jquery/jquery/1.10.1/jquery.js',
                    'validate': 'jquery/validate/1.13.1/jquery.validate.js'
                }
            });
            seajs.use(['jquery', '/javascripts/static/customer/event']);
        })();