doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='name', content='width=device-width')
        block css
            link(rel='stylesheet', href='/dist/stylesheets/all.css')
            //link(rel='stylesheet', href='/stylesheets/bootstrap.css')
            //link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
            //link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css')
            //link(rel='stylesheet', href='/stylesheets/style.css',media='all')

    body
        div.topbar
            div.container-fluid
                a.company(href='/') Order Delivery
                form(action='#')
                    input(type='text',value='Order No or date...')
                ul.mini
                    li
                        a(href='#settings-modal', data-toggle='modal', data-original-title='Change Info', title='Change Info', id='company-setting')
                            img(src='/images/icons/fugue/gear.png', alt='')
                            |Settings
                    li
                        a(href='/users/logout')
                            img(src='/images/icons/fugue/control-power.png', alt='')
                            |Logout
        div.breadcrumbs
            div.container-fluid
                ul.bread.pull-left
                    li
                        a(href='/')
                            i.icon-home.icon-white
                    li
                        - var titleLink = (title || '').toLowerCase();
                        - var link = ( titleLink == 'home' ? '/' : ( '/' + (title || '').toLowerCase() + '/index.html'));
                        a(href='#{link}') #{title}
        div.main
        div.container-fluid
            div.navi
                ul.main-nav
                    li.active.open
                        a.light.toggle-collapsed(href='#')
                            div.ico
                                i.icon-th-large.icon-white
                            | Order
                        ul.collapsed-nav
                            li
                                a(href='/order/index.html') Create Order
                            li
                                a(href='/order/list.html') Query Order
                    li
                        a.light(href='/customer/index.html')
                            div.ico
                                i.icon-resize-full.icon-white
                            |Customer
                    li
                        a.light(href='/category/index.html')
                            div.ico
                                i.icon-th-large.icon-white
                            |Category
                    li
                        a.light(href='/product/index.html')
                            div.ico
                                i.icon-tasks.icon-white
                            |Product
            block content
            div.modal.hide(id='settings-modal')
                div.modal-header
                    button.close(data-dismiss='modal', type='button') ×
                    h3='Settings'
                div.modal-body
                    form.validate.form-horizontal(action='#', id='settings-form')
                        div.control-group
                            label.control-label(for='company-name') Company Name
                            div.controls
                                input.required(type='text', name='company-name', id='company-name')
                        div.control-group
                            label.control-label(for='company-address') Company Address
                            div.controls
                                input.required(type='text', name='company-address', id='company-address')
                        div.control-group
                            label.control-label(for='company-phone') Company Phone
                            div.controls
                                input.required.tel(type='text', name='company-phone', id='company-phone')
                div.modal-footer
                    a.btn(data-dismiss='modal', href='#') Close
                    a.btn.btn-primary(data-dismiss='modal', href='#', id='setting-confirm') Confirm
        script(src='/javascripts/sea-modules/seajs/seajs/3.0.0/sea.js')
        script.
            (function(){
                seajs.config({
                    base: '/javascripts/',
                    alias: {
                        'jquery': 'sea-modules/jquery/jquery/1.10.1/jquery.js',
                        'validate': 'sea-modules/jquery/validate/1.13.1/jquery.validate.js',
                        'validate.extend': 'sea-modules/jquery/validate/1.13.1/validate.extend.js',
                        'jgrowl': 'sea-modules/jquery/jgrowl/1.4.2/jquery.jgrowl.js',
                        'bootstrap.modal': 'sea-modules/bootstrap/modal/bootstrap.modal.js',
                        'datepicker': 'sea-modules/jquery/datepicker/2.0/bootstrap-datepicker.js',
                        'utils': 'static/utils/index.js'
                    }
                });
            })();
        block scriptContent
        script.
            (function(){
                seajs.use('jquery', function($){
                    $('.main-nav > li.active > a').click(function(e){
                        if($(window).width() <= 767){
                            e.preventDefault();
                            if($(this).hasClass('open') && (!$(this).hasClass('toggle-collapsed'))){
                                $(this).removeClass('open');
                                $(this).parents('.main-nav').find('li').each(function(){
                                    $(this).find('.collapsed-nav').addClass('closed');
                                    $(this).hide();
                                });
                                $(this).parent().show();
                                $(this).parent().removeClass('open');
                            } else {
                                if($(this).hasClass('toggle-collapsed')){
                                    $(this).parent().addClass('open');
                                }
                                if($(this).hasClass("open")){
                                    $(this).parents('.main-nav').find('li').not('.active').each(function(){
                                        $(this).find('.collapsed-nav').addClass('closed');
                                        $(this).hide();
                                    });
                                    $(this).removeClass("open");
                                } else {
                                    $(this).addClass('open');
                                    $(this).parents('.main-nav').find('li').show();
                                }
                            }
                        }
                    });

                    $('.toggle-collapsed').each(function(){
                        if($(this).hasClass('on-hover')){
                            $(this).click(function(e){e.preventDefault();});
                            $(this).parent().hover(function(){
                                $(this).addClass("open");
                                $(this).find('.collapsed-nav').slideDown();
                                $(this).find('img').attr("src", '/images/toggle-subnav-up-white.png');
                            }, function(){
                                $(this).removeClass("open");
                                $(this).find('.collapsed-nav').slideUp();
                                $(this).find('img').attr("src", '/images/toggle-subnav-down.png');
                            });
                        } else {
                            $(this).click(function(e){
                                e.preventDefault();
                                if($(this).parent().find('.collapsed-nav').is(":visible")){
                                    $(this).parent().removeClass("open");
                                    $(this).parent().find('.collapsed-nav').slideUp();
                                    $(this).find('img').attr("src", '/images/toggle-subnav-down.png');
                                } else {
                                    $(this).parent().addClass("open");
                                    $(this).parent().find('.collapsed-nav').slideDown();
                                    $(this).find('img').attr("src", '/images/toggle-subnav-up-white.png');
                                }
                            });
                        }
                    });

                    $('.collapsed-nav li a').hover(function(){
                        if(!$(this).parent().hasClass('active')){
                            $(this).stop().animate({
                                marginLeft: '5px'
                            }, 300);
                        }
                    }, function(){
                        $(this).stop().animate({
                            marginLeft: '0'
                        }, 100);
                    });
                });

                seajs.use(['jquery', 'bootstrap.modal', 'static/company/company']);

            })();