doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='name', content='width=device-width')
        block css
            link(rel='stylesheet', href='/stylesheets/bootstrap.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
            link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css')
            link(rel='stylesheet', href='/stylesheets/style.css',media='all')

    body
        div.topbar
            div.container-fluid
                a.company(href='/') Order Delivery
                form(action='#')
                    input(type='text',value='Order No or date...')
                ul.mini
                    li
                        a(href='#')
                            img(src='/images/icons/fugue/gear.png', alt='')
                            |Settings
                    li
                        a(href='#')
                            img(src='/images/icons/fugue/control-power.png', alt='')
                            |Logout
        div.breadcrumbs
            div.container-fluid
                ul.bread.pull-left
                    li
                        a(href='/')
                            i.icon-home.icon-white
                    li
                        -var link = '/' + (title || '').toLowerCase() + '/index.html';
                        a(href='#{link}') #{title}
        div.main
        div.container-fluid
            div.navi
                ul.main-nav
                    li
                        a.light(href='#')
                            div.ico
                                i.icon-home.icon-white
                            |Order
                    li
                        a.light(href='/customer/index.html')
                            div.ico
                                i.icon-resize-full.icon-white
                            |Customer
                    li
                        a.light(href='/category/index.html')
                            div.ico
                                i.icon-th-large.icon-white
                            |Category
                    li
                        a.light(href='/product/index.html')
                            div.ico
                                i.icon-tasks.icon-white
                            |Product
            block content
        script(src='/javascripts/sea-modules/seajs/seajs/3.0.0/sea.js')
        block scriptContent