doctype html
html(lang='en')
    head
        title= 'Login'
        meta(charset='utf-8')
        meta(name='name', content='width=device-width')
        block css
            link(rel='stylesheet', href='/stylesheets/bootstrap/v3.3.4/bootstrap.min.css')
            //link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
            link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
            link(rel='stylesheet', href='/dist/stylesheets/login/login.all.css')
            //link(rel='stylesheet', href='/stylesheets/login/form-elements.css')
            //link(rel='stylesheet', href='/stylesheets/login/style.css')
    body
        div.top-content
            div.inner-bg
                div.container
                    div.row
                        div.col-sm-8.col-sm-offset-2.text
                            h1
                                strong Order Delivery
                                |  Login
                    div.row
                        div.col-sm-6.col-sm-offset-3.form-box
                            div.form-top
                                div.form-top-left
                                    h3='Login to our site'
                                    p Enter your username and password to log on:
                                div.form-top-right
                                    i.fa.fa-key
                            div.form-bottom
                                form.login-form(role='form', method='post', action='/users/login')
                                    div.form-group
                                        label.sr-only(for='form-username') Username
                                        input.form-username.form-control(name='form-username', placeholder='Username...',type='text')    
                                    div.form-group
                                        label.sr-only(for='form-username') Username
                                        input.form-username.form-control(name='form-password', placeholder='Password...',type='password')
                                    button.btn(type='submit') Sign in
        script(src='/javascripts/sea-modules/jquery/jquery/1.10.1/jquery.js')
        script(src='/javascripts/sea-modules/backstretch/2.0.4/jquery.backstretch.min.js')
        script.
            (function(){
                var $ = jQuery;
                $(function(){
                    $.backstretch("/images/seafood_bg_1.jpg");
                });
            })();